<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>product</display-name>
    <servlet-name>product</servlet-name>
    <servlet-class>p1.product</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>product</servlet-name>
    <url-pattern>/product</url-pattern>
  </servlet-mapping>
  <display-name>Project2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>addtocart</display-name>
    <servlet-name>addtocart</servlet-name>
    <servlet-class>p1.addtocart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addtocart</servlet-name>
    <url-pattern>/addtocart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>showShopCart</display-name>
    <servlet-name>showShopCart</servlet-name>
    <servlet-class>p1.showShopCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>showShopCart</servlet-name>
    <url-pattern>/showShopCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>saveCustomerInfo</display-name>
    <servlet-name>saveCustomerInfo</servlet-name>
    <servlet-class>p1.saveCustomerInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>saveCustomerInfo</servlet-name>
    <url-pattern>/saveCustomerInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>saveOrder</display-name>
    <servlet-name>saveOrder</servlet-name>
    <servlet-class>p1.saveOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>saveOrder</servlet-name>
    <url-pattern>/saveOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>employeeUpdate</display-name>
    <servlet-name>employeeUpdate</servlet-name>
    <servlet-class>p1.employeeUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>employeeUpdate</servlet-name>
    <url-pattern>/employeeUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>productTable</display-name>
    <servlet-name>productTable</servlet-name>
    <servlet-class>p1.productTable</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>productTable</servlet-name>
    <url-pattern>/productTable</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>s1</display-name>
    <servlet-name>s1</servlet-name>
    <servlet-class>p1.s1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>s1</servlet-name>
    <url-pattern>/s1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>s2</display-name>
    <servlet-name>s2</servlet-name>
    <servlet-class>p1.s2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>s2</servlet-name>
    <url-pattern>/s2</url-pattern>
  </servlet-mapping>
</web-app>